.body-index {
  background-color: black; }

html {
  scroll-behavior: smooth; }
  html body {
    overflow-y: auto;
    overflow-x: hidden; }

/*-------- HEADER ----------*/
/* BARRA ---- NAVEGADOR */
header nav {
  background-color: #131313;
  /*para que se mueva al scrolear*/
  position: sticky;
  top: 0;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px; }
  header nav div {
    display: flex;
    align-items: center; }
    header nav div img {
      padding: 20px;
      max-width: 130px;
      justify-content: center;
      align-self: flex-start; }

header nav h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  padding: 20px;
  display: flex;
  align-self: auto;
  display: none; }

header nav div ul {
  justify-content: start;
  align-self: center; }
  header nav div ul div ul li:hover {
    background-color: #00e0b0; }
    header nav div ul div ul li:hover a:hover {
      background-color: aqua; }

@media screen and (min-width: 1300px) {
  header nav h1 {
    display: block; } }

.body-index {
  background-color: black; }

html {
  scroll-behavior: smooth; }
  html body {
    overflow-y: auto;
    overflow-x: hidden; }

main {
  height: 80vh; }
  main section h2 {
    margin-top: 1rem;
    color: white;
    font-size: 3rem;
    text-align: center; }

main div {
  display: grid;
  grid-template-areas: "titulo" "escritura" "boton";
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin: 2%; }
  main div div h3 {
    font-size: 2rem;
    color: #dddddd; }

.contenedor-titulo {
  text-align: center;
  grid-area: titulo; }

main div p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  white-space: pre-line;
  /*saltos de linea en el texto*/
  color: #dddddd;
  grid-area: escritura; }

main div img {
  display: none;
  grid-area: foto; }

main div button {
  background-color: #dddddd;
  border: 5px solid #466efd;
  height: 50px;
  width: 150px;
  margin-top: 10px;
  text-align: center;
  grid-area: boton;
  border-radius: 30%; }
  main div button:hover {
    background-color: #00e0b0;
    border: 5px solid #00aee8; }
    main div button:hover a {
      color: #dddddd; }
      main div button:hover a:hover {
        color: green; }

main div img {
  display: none; }

@media screen and (min-width: 1300px) {
  main section h2 {
    display: none; } }

.body-index {
  background-color: black; }

html {
  scroll-behavior: smooth; }
  html body {
    overflow-y: auto;
    overflow-x: hidden; }

/*-------------- FOOTER ------------------*/
/*FOOTER AL FONDO*/
footer p {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: sticky; }

.body-index {
  background-color: black; }

html {
  scroll-behavior: smooth; }
  html body {
    overflow-y: auto;
    overflow-x: hidden; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
