.fondo-index {
  background: linear-gradient(rgba(7, 5, 12, 0.15), rgba(5, 7, 12, 0.15)), url(../assets/imagen1-copia.jpg);
  height: 100vh; }

/*-------- HEADER ----------*/
/* BARRA ---- NAVEGADOR */
header nav {
  background-color: black;
  /*para que se mueva al scrolear*/
  position: sticky;
  top: 0;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px; }
  header nav div {
    display: flex;
    align-items: center; }
    header nav div img {
      padding: 20px;
      max-width: 130px;
      justify-content: center;
      align-self: flex-start; }

header nav h1 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  padding: 20px;
  display: flex;
  align-self: auto; }

header nav div ul {
  justify-content: start;
  align-self: center; }
  header nav div ul div ul li:hover {
    background-color: #00e0b0; }
    header nav div ul div ul li:hover a:hover {
      background-color: aqua; }

.fondo-index {
  background: linear-gradient(rgba(7, 5, 12, 0.15), rgba(5, 7, 12, 0.15)), url(../assets/imagen1-copia.jpg);
  height: 100vh; }

main {
  height: 80vh; }

main div h3 {
  font-size: 2rem; }

main div p {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif; }

main div button {
  background-color: #b9fff0;
  border: 5px solid #466efd;
  height: 50px;
  width: 150px; }
  main div button:hover {
    background-color: #00e0b0;
    border: 5px solid #00aee8; }
    main div button:hover a {
      color: #b9fff0; }
      main div button:hover a:hover {
        color: green; }

main div img {
  display: none; }

@media screen and (min-width: 1024px) {
  main div h3 {
    font-size: 4em; }
  .contenedor-parrafo-escrito {
    font-size: 1.2em; } }

.fondo-index {
  background: linear-gradient(rgba(7, 5, 12, 0.15), rgba(5, 7, 12, 0.15)), url(../assets/imagen1-copia.jpg);
  height: 100vh; }

/*-------------- FOOTER ------------------*/
/*FOOTER AL FONDO*/
footer p {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  position: sticky; }

.fondo-index {
  background: linear-gradient(rgba(7, 5, 12, 0.15), rgba(5, 7, 12, 0.15)), url(../assets/imagen1-copia.jpg);
  height: 100vh; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
