// colores principales

//titulos header

$color-principal-titulo: rgb(144, 0, 255);


//boton main

$color-principal-primario: #b9fff0;
$color-principal-secundario: #466efd;

$color-principal-primario-hover: #00e0b0;
$color-principal-secundario-hover: #00aee8;


//estilo boton

$style-button-index:  #0004ff;
//letras del boton

$color-letras-boton: black;

//boton paginas secunadarias