// COLORES PRINCIPALES

//titulos header

$color-principal-titulo: rgb(255, 255, 255);
$color-alternativo-titulo: rgb(0, 0, 0);

$color-fondo-header: rgb(19, 19, 19);

$color-letras-nav: (255, 255, 255);

$color-fondo-generico: rgb(0, 0, 0);
$color-fondo-alternativo: rgb(255, 255, 255);
$color-fondo-alternativo-dos: #F7F6FB;


//boton main

$color-principal-primario: #dddddd;
$color-principal-secundario: #000000;

$color-principal-primario-hover: #6b6b6b;
$color-principal-secundario-hover: #484848;


//estilo boton

$style-button-index:  #0004ff;
//letras del boton

$color-letras-boton: black;

//footer

$color-footer-primario: rgb(134, 134, 134);



//TIPOGRAFIA

$titulo-principal: Arial, Helvetica, sans-serif;

$parrafo-principal: Arial, Helvetica, sans-serif;






