
/*---------------ESTILO CONTACTO----------------*/

body main section .h2-contacto{
    color: $color-principal-primario;
}

body main .contacto-main{
    display: grid;
    grid-template-areas: 
    "titulo"
    "elementos"
    "descripcion"
    "boton";
    
    justify-content: center;
    align-items: center;

        div .contenedor-titulo-h3c{
            grid-area: titulo;
            display: flex;
            justify-content: center;
            color: $color-principal-primario;
            text-decoration: underline 3px solid $color-principal-primario;
        }

        .contacto-contenedor-elementos{    
            grid-area: elementos;
        
                .contacto-contenedor-elementos-formulario{
                    display: flex;
                    flex-direction: column;   
                    background-color: gray;
                    grid-template-areas: formulario;
                     
                    
                        div .contacto-contenedor-elementos-formulario-informacion-linea{
                            margin: 10px;
                            display: flex;
                            align-items: center;
                            color: $color-principal-primario;
                        
                                label{
                                    display: inline-block;
                                    width: 100px;
                                
                                }                
                        
                        }
                    
                        .contacto-contenedor-elementos-formulario-texto{
                            grid-area: descripcion;
                        }
        
                        /*estilos sobre el contenedor del boton*/
        
                        .contacto-contenedor-elementos-formulario-boton{
                            display: flex;
                            justify-content: center;
                            grid-area: boton;
        
                                /*estilos del boton*/
        
                                .contacto-contenedor-elementos-formulario-boton-estilo{
                                    width: 150px;
                                    height: 50px;
                                    border: 3px solid red;
                                
                                }    
            
                                /*estilos del boton al momento de posicionarse sobre el mismo*/
                                .contacto-contenedor-elementos-formulario-boton-estilo:hover{
                                    width: 160px;
                                    height: 55px;
                                    border: 3px solid rgb(0, 255, 0);
                                    color: gray;
                                    border-radius: none;
                                
                                }
                            
                        }
        
                }
        }
        
}


@media screen and (min-width: 600px) {
    
    main section .h2-contacto{
        display: none;
    }

    div div .contenedor-titulo-h3c{
        font-size: 3em;
    }
}

/* mq de desktop */

@media screen and (min-width: 1024px) {

    .nosotros-contenedor-imagenes{
        margin-top: 0px;
        font-size: 4em;                        
    
    }
}