//estilos del footer

//imports

@import "../base/variables";

/*-------------- FOOTER ------------------*/

/*FOOTER AL FONDO*/

footer p{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: sticky;   
     
}