//estilos del footer

//imports

@import "../base/variables";

/*-------------- FOOTER ------------------*/

/*FOOTER AL FONDO*/

footer p{
    border: 1px solid black;
    display: flex;
    justify-content: center;    
    margin-top: 1px;
    padding: 1px;   
    color: $color-footer-primario; 
}