// estilos del header

//imports

@import "../base/variables";

/*-------- HEADER ----------*/

/* BARRA ---- NAVEGADOR */

header nav{
    
    background-color: $color-fondo-header;
    /*para que se mueva al scrolear*/
    position: sticky;   
    top: 0; 
    height: 9rem;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;

        div{
            display: flex;
            align-items: center;

            img{
                padding: 20px;
                max-width: 130px;        
                justify-content: center;
                align-self: flex-start;
            }
        }
}

header nav h1{
    
            color: $color-principal-titulo;
            font-family: $titulo-principal;
            font-size: 6rem;
            padding: 20px;
            display: flex;            
            align-self: auto;
            display: none;

        
}

header nav div ul{    
    justify-content: start;
    align-self: center;
    
        div ul li:hover{
                    background-color: $color-principal-primario-hover;
                 
                       a:hover{
                            background-color: aqua;

                       
                }
        }
}


//estilos al cambio de tamaño a tablet

@media screen and (min-width: 600px) {

    
}


//estilos al cambio de tamaño a pc

@media screen and (min-width: 1300px) {

    header nav h1{
            
        display: block;

    
    }
}
    






