// estilos del header

header nav div div h1{
    padding-right: 50px;
    color: rgb(144, 0, 255);
    display: none;
}

header nav div{
    padding-left: 10px;
}

header section h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: rgb(149, 0, 255);
}

@media screen and (min-width: 800px) {

    
    header nav div div h1{
        display: block;
    }
    
    header section h2{
        display: none;
    }

}