// estilos del header

//imports

@import "../base/colors";


//header nav div div h1{
//    padding-right: 50px;
//    color: rgb(144, 0, 255);
//    display: none;
//}

header nav div{

    padding-left: 10px;

        div h1{
            padding-right: 50px;
            color: $color-principal-titulo;
            display: none;
        }

}

header section h2{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    color: $color-principal-titulo;
}

//estilos al cambio de tamaño a tablet

@media screen and (min-width: 800px) {

    
    header nav div div h1{
        display: block;
    }
    
    header section h2{
        display: none;
    }

}



