//estilos del main

@import "../base/colors";


main{
    height: 80vh;
       
}

main div h3{
    font-size: 2rem;
}

main div p{
    text-align: justify;
}


main div button{
    background-color: $color-principal-primario;
    border: 5px solid $color-principal-secundario;
    height: 50px;
    width: 150px;
        &:hover{
            background-color: $color-principal-primario-hover;
            border: 5px solid $color-principal-secundario-hover;
                a{
                    color: $color-principal-primario;
                        &:hover{
                            color: green;
                        }
                }
        } 
}

main div img{
    display: none;
}


//HAY QUE PONER TODO LO DE SASS MIXIN ETC... SON 5 EN TOTAL TODAS DIFERENTES



//estilos al cambio de tamaño a pc

@media screen and (min-width: 1024px) {

    main div h3{
        font-size: 4em;
    }

    .contenedor-parrafo-escrito{
        font-size: 1.2em;       
    }

}